* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}



.container-xxl {
    overflow: hidden;
    padding: 0 5em;
}

nav.navbar {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: auto;
}

.nav-bar {
    margin: 2 0;
    padding: 3em;
}

.logo-icon {
    height: 7em;
    border: none;
    border-radius: none;
    margin-bottom: 2em;
}

div.icon {
    border: none;
    border-radius: none;
}

.logo-text {
    font-size: 3em;
}


#navbarCollapse div a {
    padding: auto;
    font-weight: 700;

}



p.phone-in-menu {
    display: block;
    margin: auto;
    font-family: 2em;
}



a.phone-in-menu {
    background-color: #227ae5;
    margin: 0.6em;
}

#navbarCollapse div a.phone-in-menu:hover {
    background-color: #042143;
}


#navbarCollapse div a img.phone-in-menu {
    height: 2em;
    max-width: 10em;
}



/* category section */

.rounded span {
    color: #227ae5;
}

.convector-span {
    display: block;

}

.ac-categories:hover div {
    background-color: #227ae5;

}



.labels div:hover .rounded,
.labels div:hover div.img-models {
    background-color: #227ae5;

}

.convector-div a div {}

.convector p {
    /* padding-bottom: 4.5em; */
    margin-bottom: 0;
}

.title-ac-models {
    display: block;
    margin: auto;
    color: black;
    font-size: 1.2em;
    padding: 0.5em;
    padding-top: 0;
    padding-bottom: 0;

    letter-spacing: 0.05em;
    font-family: 'Times New Roman', Times, serif;
}

div.img-models,
.img-labels {
    border-radius: 0;
    padding-bottom: 0;
}

.label-div {
    padding: 0;
}

.img-labels {
    height: 200px;
}

.icon {
    padding: 0;
    border-radius: 0;
}

.div-ac-models {
    /* background-color: #00b771; */
}

/* classes for JS manipulations  */


.invisible {
    visibility: hidden;
}


/* call section */

.call-section {
    display: block;
    margin: 5em 8em;


}

.call-section-img {
    position: relative;
    height: 25em;
    box-sizing: border-box;

}

.call-section-div {
    font-size: 1em;
    position: relative;
    word-spacing: 0.1em;
    /* Adjust font size as needed */
    color: black;
    background: rgba(255, 255, 255, 0.8);
    /* Optional: Background for better visibility */
    padding: 2px 5px;
    /* Optional: Padding around the text */
    border-radius: 5px;
    /* Optional: Rounded corners */
}

div.call-us-section-right-div {
    display: flex;
}

.call-buttons-tiktok,
.call-buttons-facebook,
.call-buttons-instagram,
.call-buttons-viber,
.call-buttons-youtube {
    width: 9em;
    height: 4em;
    display: inline-block;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
    color: white;
}

.call-buttons-tiktok:hover,
.call-buttons-facebook:hover,
.call-buttons-instagram:hover,
.call-buttons-viber:hover,
.call-buttons-youtube:hover {
    background-color: rgba(81, 70, 240, 0.826);
    color: white;


}

.call-buttons-tiktok:hover img,
.call-buttons-facebook:hover i,
.call-buttons-instagram:hover i,
.call-buttons-viber:hover img,
.call-buttons-youtube:hover i {
    visibility: hidden;
}

.call-buttons-facebook {
    background-color: rgb(55, 153, 240);
}

.call-buttons-youtube {
    background-color: #ff3d00;
}


.call-buttons-tiktok {
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: -2;
    padding: 0;
}



.call-buttons-tiktok img {
    background-color: white;
    z-index: 5;
}

.call-buttons-instagram {
    background: rgb(106, 86, 195);
    /* background: linear-gradient(90deg, rgba(106, 86, 195, 1) 22%, rgba(210, 51, 133, 1) 50%, rgba(251, 126, 42, 1) 76%); */
}

.call-buttons-instagram div {
    display: flex;

}

.call-buttons-instagram img {
    height: 1em;
}

.call-buttons-viber {
    background-color: #6f3faa;
}

.vibar-img {
    height: 2em;
    padding-right: 2px;
}

.call-section-img {
    padding-bottom: 1em;
}








.call-section-div {
    display: flex;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    word-spacing: 0.1em;
    color: black;

}



.call-section-div p {
    display: block;
    margin: auto;
}


/* labels section  */


.label-section {
    display: block;
    margin: 0;
    padding: 2em;
}

/* .ac-labels {
    margin: 2em;
} */
/* @media (min-width: 1360px) {

    html,
    body,
    .label-section,
    .category-section {
        width: 100%;
    }
} */

@media (max-width: 1400px) {



    .ac-categories,
    .ac-labels {
        width: 27%;
        /* padding: ; */
        margin: auto;
        /* margin-bottom: 5em; */
    }


}

@media (max-width: 1250px) {

    .ac-categories,
    .ac-labels {
        width: 29%;
        /* padding: ; */
        margin: auto;
        /* margin-bottom: 5em; */
    }
}

@media (max-width: 991px) {
    .navbar-nav a.phone-in-menu {
        margin-left: 0;
        max-width: 10em;

    }

    p.phone-in-menu {
        margin-left: 0;

    }

    .ac-categories,
    .ac-labels {
        width: 40%;
        /* padding: ; */
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 5em; */
    }
}

@media (max-width: 834px) {

    .category-section,
    .label-section {
        padding: 0.5em;
    }

    .ac-categories,
    .ac-labels {
        width: 35%;
        /* padding: ; */
        margin: auto;
        /* margin-bottom: 5em; */
    }
}

@media (min-width: 730px) and (max-width: 963px) {}

/* media 800 */

@media (max-width: 799px) {


    .call-section-img {
        position: relative;

    }

    .call-us-section-right {
        margin-top: 2em;
    }

    .call-section-div {
        margin: 1em auto;
        white-space: wrap;
        font-size: 1em;
        display: block;
        word-spacing: 0.1em;
        color: black;
        background: rgba(255, 255, 255, 0.8);
        padding: 2px 5px;
        border-radius: 5px;
    }
}

@media (max-width: 653px) {

    .logo-icon {
        margin-top: 2em;
        margin-bottom: 2em;
        /* height: 5em; */
    }

    .call-section-img {
        position: relative;
        height: 20em;
        box-sizing: border-box;

    }

    .call-section {
        width: 85%;
        display: block;
        margin: auto;
        margin-bottom: 4em;
    }

    .category-section .ac-labels {
        padding: 0.5em;
    }

    .ac-categories,
    .ac-labels {
        width: 80%;
        /* padding: ; */
        margin-left: 1em;
        margin-right: 1em;
        /* margin-bottom: 5em; */
    }

    /* .title-ac-models {
        display: block;
        font-size: 0.8em;
        padding: 0.1em;

        letter-spacing: 0.01em;
    } */

    .category-section {
        padding: 1em;
    }

    .category-section .container {
        width: 80%;
    }
}

@media (max-width: 488px) {
    .call-section-img {
        position: relative;
        height: 15em;
        box-sizing: border-box;

    }

    .category-section,
    .label-section {
        padding: 2em;
    }

    .category-section .container {
        width: 80%;
    }

    .call-section {
        margin: auto;
    }

    .logo-icon {
        margin-top: 2em;
        margin-bottom: 2em;
        height: 5em;
    }

    .logo-text {
        font-size: 2em;
    }

    .call-section-div {
        margin: 1em auto;
        flex-wrap: wrap;
        font-size: 1em;
        font-weight: 700;
        display: block;
        word-spacing: auto;
        color: black;

    }

    .call-section-h1 {
        font-family: 1.2em;

    }

}


@media (max-width: 459px) {
    .logo-icon {
        margin-top: 2em;
        height: 5em;
        margin-bottom: 2em;
    }

    .nav-item {
        margin-left: 2em;
    }

    .navbar-nav {
        display: flex;
    }

    nav.navbar {
        padding-left: 1em;
        padding-right: 1em;

    }

    .nav-bar {
        margin: 2 0;
        padding: 3em;
    }

    .logo-icon {
        margin-top: 2em;
        height: 4em;
        border: none;
        border-radius: none;
        margin-bottom: 5em;
    }

    .category-section {
        padding: 1em;
    }

    /* .category-section .container {
        width: 85%;
    } */

    .title-ac-models {

        font-size: 1em;
        padding: 0.2em;

        letter-spacing: 0.01em;
    }

    .rounded span {
        font-size: 0.6em;
    }

    .category-section {
        padding: 1em;
    }




}



@media (max-width: 320px) {
    .call-section-img {
        position: relative;
        height: 10em;
        box-sizing: border-box;

    }

    .category-section {
        padding: 0.5em;
    }

    .category-section .container {
        width: 85%;
    }

    .title-ac-models {

        font-size: 0.8em;
        padding: 0.1em;

        letter-spacing: 0.01em;
    }

    .rounded span {
        font-size: 0.4em;
    }

    .category-section {
        padding: 0.5em;
    }


}


.ac-categories,
.label-section {
    display: flex;
}


.ac-categories,
.ac-labels {
    display: block;
    margin: auto;
    margin-bottom: 5em;
}

.h1-models,
.h1-labels {
    padding-bottom: 2em;

}

/* .container-xxl {
    width: 100%;
    margin: auto;
    display: block;
} */

html,
body {
    margin: 0;
    width: 100%;
}