@media (min-width: 2051px) {
    #category-section {
        padding: 8em;
    }

    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    p.menu-invisible1 {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    p.menu-invisible2 {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    p.menu-invisible3 {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    div.ac-categories {
        width: 17%;
    }


    img.logo-icon {
        margin-top: 2em;

        height: 8em;
        margin-bottom: 2.5em;
    }
}


@media (min-width: 1850px) and (max-width: 2050px) {
    .nav-item .nav-link {
        font-size: 2em;
    }

    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    p.menu-invisible1 {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }


    img.logo-icon {
        margin-top: 2em;

        height: 7em;
        margin-bottom: 2em;
    }

    .col-lg-4 {
        width: 24%;
    }

    div.ac-categories {
        max-width: 23%;
        /* padding: ; */
        /* margin-bottom: 5em; */
    }

    #category-section {
        padding: 6em;
    }
}

@media (min-width: 1650px) and (max-width: 1850px) {
    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }


    img.logo-icon {
        margin-top: 2em;

        height: 7em;
        margin-bottom: 2em;
    }

    p.menu-invisible1 {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    div.ac-categories {
        max-width: 24%;


    }

    h6.title-ac-models {
        font-size: 1.3em;
    }

    #category-section {
        padding: 6em;
    }
}

@media (min-width: 1445px) and (max-width: 1650px) {
    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    img.logo-icon {
        margin-top: 2em;

        height: 7em;
        margin-bottom: 2em;
    }

    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    .container-xxl {
        /* width: 2099px; */
        margin: auto;
        display: block;
    }

    a.phone-in-menu {
        margin-left: 0.2em;
    }

    h6.title-ac-models {
        font-size: 1.2em;
    }



    .ac-categories {

        max-width: 26%;



    }

    #category-section {
        padding: 5em;
    }

}



@media (min-width: 1258px) and (max-width: 1444px) {
    p.menu-invisible {
        display: block;
        font-size: 0.5em;
        visibility: hidden;
    }

    a.phone-in-menu {
        padding-left: 0;
        display: flex;
        margin-left: 0.2em;
    }

    .ac-categories {
        max-width: 28%;

    }

    img.logo-icon {
        margin-top: 1em;

        height: 7em;
        margin-bottom: 2em;
    }

    h6.title-ac-models {
        font-size: 1.1em;
    }

    #category-section {
        padding: 5em;
    }
}

@media (min-width: 1056px) and (max-width: 1257px) {
    #category-section {
        padding: 3.5em;
    }

    a.phone-in-menu {
        padding-left: 0;
        max-width: 8em;
        margin: 0;
    }

    .navbar-collapse {
        margin-top: 1.5em;
    }

    img.logo-icon {
        margin-top: 1em;
        height: 7em;
        margin-bottom: 2em;
    }

    h6.title-ac-models {
        font-size: 0.9em;
    }

    p.phone-in-menu {
        margin-left: 0;

    }

    .ac-categories {
        max-width: 29%;


    }
}





/* media 800 */

@media (min-width: 854px) and (max-width: 1055px) {


    #category-section {
        padding: 3em;
    }



    .ac-categories,
    .col-lg-4 {
        max-width: 29%;

    }


    .ac-categories,
    .col-lg-4 {
        max-width: 29%;

    }

    img.logo-icon {
        margin-top: 1em;

        height: 6em;

        margin-bottom: 3em;
    }

    a.phone-in-menu {
        padding-left: 0;
        margin: 0;
    }

    h6.title-ac-models {
        font-size: 0.8em;
    }

    .call-section-img {
        position: relative;

    }

    .call-us-section-right {
        margin-top: 2em;
    }

    .call-section-div {
        margin: 1em auto;
        white-space: wrap;
        font-size: 1em;
        display: block;
        word-spacing: 0.1em;
        color: black;
        background: rgba(255, 255, 255, 0.8);
        padding: 2px 5px;
        border-radius: 5px;

    }
}

@media (min-width: 653px) and (max-width: 853px) {
    .div-labels-for-img {
        max-width: 45%;
    }

    .label-section {
        display: block;
        margin: 0;
        padding: 3em;
    }

    .title-ac-models {

        font-size: 0.73em;
        padding: 0.2em;

        letter-spacing: 0.05em;
    }

    img.logo-icon {
        margin-top: 1em;

        height: 6em;
        margin-bottom: 2em;
    }

    a.phone-in-menu {
        padding-left: 0;
        display: flex;
        margin-left: 0;
    }

    .navbar-toggler {

        margin-top: 4em;
    }

    .navbar-collapse {
        margin-top: 0.6em;
    }




    .call-section-img {
        position: relative;
        height: 20em;
        box-sizing: border-box;

    }

    .call-section {
        width: 85%;
        display: block;
        margin: auto;
        margin-bottom: 4em;
    }

    #category-section {
        padding: 2em;
    }

    .ac-categories {
        max-width: 45%;

        /* padding: ; */
        /* margin-left: 1em; */
        /* margin-right: 1em; */
        /* margin-bottom: 5em; */
    }





}

@media (min-width: 480px) and (max-width: 653px) {
    .label-section {
        display: block;
        margin: 0;
        padding: 2em;
    }

    .div-labels-for-img {
        max-width: 45%;
    }

    a.phone-in-menu {
        padding-left: 0;
        display: flex;
        margin-left: 0;
    }



    .navbar-toggler {

        margin-top: 4em;
    }

    .navbar-collapse {
        margin-top: 0.5em;
    }

    .labels-img {
        height: 10em;
        width: 10em;
        padding: 0;
    }

    .call-section-img {
        position: relative;
        height: 15em;
        box-sizing: border-box;

    }

    .category-section .container {
        padding: 0;
    }

    #category-section {
        padding: 1.2em;
    }

    .ac-categories,
    .mb {
        max-width: 45%;

    }

    h6.title-ac-models {
        font-size: 0.8em;
    }

    .call-section {
        margin: auto;
    }

    img.logo-icon {
        margin-top: 1em;

        height: 6em;
        margin-bottom: 2em;
    }


    .logo-text {
        font-size: 2em;
    }

    .call-section-div {
        margin: 1em auto;
        flex-wrap: wrap;
        font-size: 1em;
        font-weight: 700;
        display: block;
        word-spacing: auto;
        color: black;

    }

    .call-section-h1 {
        font-family: 1.2em;

    }

}


@media (min-width: 321px)and (max-width: 480px) {
    #pagination-controls {
        text-align: center;
        font-size: 0.75em;
    }

    .invisible-label {
        display: none;
    }

    .div-labels-for-img {
        max-width: 45%;
    }

    .label-section {
        display: block;
        margin: 0;
        padding: 1.5em;
    }

    .ac-categories {
        max-width: 45%;

    }

    a.phone-in-menu {
        padding-left: 0;
        margin-left: 0em;
    }


    .navbar-collapse {
        margin-top: 0.2em;
    }

    /* .nav-item {
        margin-left: 2em;
    } */



    nav.navbar {
        padding-left: 1em;
        padding-right: 1em;

    }

    div.nav-bar {
        margin: 2 0;
        padding: 0.5em;
    }

    img.logo-icon {
        margin-top: 1em;
        height: 6em;
        border: none;
        border-radius: none;
        margin-bottom: 2em;
    }

    #category-section {
        padding: 1em;
    }

    .category-section .container {
        padding: 0;
    }

    h6.title-ac-models {

        font-size: 0.6em;
        padding: 0.2em;

        letter-spacing: 0.01em;
    }

    .rounded span {
        font-size: 0.6em;
    }






}



@media (max-width: 320px) {
    #pagination-controls {
        text-align: center;
        font-size: 0.6em;
    }

    .ac-categories {
        max-width: 80%;

    }

    .div-labels-for-img {
        max-width: 80%;
    }

    .label-section {
        display: block;
        margin: 0;
        padding: 1em;
    }

    .navbar-toggler {
        margin-top: 2em;
    }

    a.phone-in-menu {
        padding-left: 0;
        display: flex;
        margin-left: 0.25em;
    }

    img.logo-icon {
        margin-top: 1em;
        height: 5em;
        margin-bottom: 2em;
    }

    .call-section-img {
        position: relative;
        height: 10em;
        box-sizing: border-box;

    }

    #category-section {
        padding: 0.7em;
    }

    .category-section .container {
        padding: 0;
    }

    .title-ac-models {

        font-size: 0.8em;
        padding: 0.1em;

        letter-spacing: 0.01em;
    }

    .rounded span {
        font-size: 0.4em;
    }




}