@import url("single-page-media.css");

.single-product {
    display: flex;
    padding: 2em 2em;
    color: black;
}

.left-side {
    width: 60%;
}

.left-side img {
    max-width: 80%;
    margin-left: 7em;

}

.details-table {
    display: flex;

}

.big-btn {
    padding: 0.7em;
    font-size: 1em;
}

.price-p {
    padding-top: 0.21em;
    font-size: 1.2em;
}

.details-table table {
    /* border: 2px solid black; */
    padding: 0.5em;
    display: block;
    margin: auto;

}

.details-table table tr td {
    border: 2px solid black;
    padding: 0.5em;
    color: black;
}

.div-h3-span-price {
    display: flex;
}


table tr td.td-pre-build {
    padding-right: 10em;
}


/* h3.h3-first:after {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1.5px;
    background: red;
    transform: translateY(-50%);

} */

.h3-price-single {
    margin: 0 1em;
    position: relative;
}

.h3-first::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 42%;
    height: 1.5px;
    background: red;
    transform: translateY(-50%);
}

.h3-second {
    color: red;
}

#other-products {
    display: flex;
}

.other-products-h1 {
    color: #0E2E50;
    text-align: center;
    margin: 2em auto;
}

/* 
montaje page and profi page */
.first-p {
    display: block;
    color: #0E2E50;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    font-weight: 600;
    font-size: 1.2em;
}

.profi-h2 {
    margin: 2em 3em;
}

.profi-img {
    display: block;
    margin: 1em auto 3em auto;
    max-width: 60%;
}

.heading-prof {
    margin: 1em 3em;
    text-align: center;
    margin-top: 2em;
}

.heading-prof2 {
    text-align: center;
    margin: 1em 3em;
    margin-bottom: 2em;
}

.additional-price p {
    color: rgba(255, 0, 0, 0.825);
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.entry-content {
    padding: 3em;
}

.wp-block-table table tbody tr td {
    padding: 0.4em;
    border: 2px solid black;
}


.wp-block-table {
    display: flex;
    color: black;
}


.header-element {
    background-color: #0E2E50;
    margin-top: 1em;
    /* border-radius: 1em; */
    padding: 1em 0.5em 1em 0.5em;
}

.header-element h2,
.header-element p {
    color: white;

}

h2 {
    display: block;
    text-align: center;
    margin: 0 auto 1em auto;
}

h3 {
    display: block;
    text-align: center;
    margin: 2em auto 2em auto;

}

.profi-p {
    margin-top: 2em;
}



/* contacts section */
.call-section-h3 {
    margin-bottom: 2em;
}

h3 a {
    color: #227ae5;
}

h3 a:hover {
    color: #0b59b3;
    text-decoration: underline;
}

.working-hours-article {
    margin: 2em 15em;
}

.h1-contacts {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}


.working-hours-article li {
    color: black;
    font-weight: 500;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.working-hours li {
    color: black;
    font-weight: 600;
    padding-bottom: 0.4em;
}

.h3-working {
    margin: 1em 0.5em 1em 2em;
}

.entry-content,
.payment-methods {
    padding: 1em;
    display: block;
    max-width: 70%;
    color: black;
    text-align: justify;
    margin: 2em auto;
    border: 4px solid #227ae5;
    border-radius: 0.5em;
}

.how-to-purchase-second {

    list-style: url("img/new/circle.png");

}

.working-hours {
    padding: 1em;
    display: flex;
    max-width: 60%;
    font-weight: 600;
    color: black;
    text-align: justify;
    margin: 2em auto;
    border: 4px solid #227ae5;
    border-radius: 0.5em;
}

.working-hours div {

    display: block;
    margin: auto;
}

.working-hours p {
    display: block;
    text-align: justify;
    margin: 1em auto;

}

.img-working {
    display: block;
    margin: auto;
    width: 180px;
}