@media (min-width: 2030px) {
    .working-hours-article {
        margin: 2em 3em;
        font-size: 1.3em;

    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.5em;

    }

    .details-table table,
    .single-item-top-text {
        font-size: 1.5em;
    }

    figure.wp-block-table {
        max-width: 1500px;
        margin: auto;

    }
}

@media (min-width: 1870px) and (max-width: 2030px) {
    .working-hours-article {
        margin: 2em 3em;
        font-size: 1.2em;

    }

    .details-table table,
    .single-item-top-text {
        font-size: 1.4em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.3em;
    }

    figure.wp-block-table {
        max-width: 1400px;
        margin: auto;

    }
}

@media (min-width: 1700px) and (max-width: 1870px) {
    .working-hours-article {
        margin: 2em 3em;
        font-size: 1.15em;

    }

    .details-table table,
    .single-item-top-text {
        font-size: 1.3em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.2em;
    }

    figure.wp-block-table {
        max-width: 1300px;
        margin: auto;

    }
}

@media (min-width: 1520px) and (max-width: 1700px) {
    .working-hours-article {
        margin: 2em 3em;
        font-size: 1.1em;

    }

    .details-table table,
    .single-item-top-text {
        font-size: 1.2em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.1em;

    }

    figure.wp-block-table {
        max-width: 1200px;
        margin: auto;

    }
}



@media (min-width: 1360px) and (max-width: 1520px) {
    article.working-hours-article {
        margin: 2em 3em;
    }



    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.05em;


    }

    figure.wp-block-table {
        max-width: 1100px;
        margin: auto;

    }
}



@media (min-width: 1200px) and (max-width: 1360px) {
    article.working-hours-article {
        margin: 2em 3em;
    }

    div.left-side {
        width: 60%;
    }

    div.left-side img {
        max-width: 85%;
        margin-left: 5em;

    }


    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }

}



@media (min-width: 1070px) and (max-width: 1200px) {
    article.working-hours-article {
        margin: 2em 3em;
    }



    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }
}

@media (min-width: 900px) and (max-width: 1070px) {
    article.working-hours-article {
        margin: 2em 3em;
    }

    .other-product div div a img {
        max-width: 250px;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }

    div.left-side {
        width: 60%;
    }

    div.left-side img {
        max-width: 100%;
        margin-left: 1em;

    }
}

@media (min-width: 630px) and (max-width: 900px) {
    article.working-hours-article {
        margin: 2em 3em;
    }

    .other-product div div a img {
        max-width: 250px;
    }

    div#other-products {
        flex-wrap: wrap;
    }


    div.single-product {
        padding: 2em;
        display: block;
    }



    div.left-side {
        width: 80%;
    }

    div.left-side {
        display: block;
        margin: auto;
    }

    div.left-side img {
        max-width: 100%;
        margin: auto;

    }

    div.right-side {
        display: block;
        margin: 2em 18%;
    }

    .details-table table tr td.td-pre-build {
        padding-right: 3em;
    }

    td.td-prices {

        width: 5em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }

    img.profi-img {
        display: block;
        max-width: 80%;
        margin: 1em auto 3em auto;
    }
}

@media (min-width: 480px) and (max-width: 630px) {
    div.left-side {
        width: 90%;
    }



    div#other-products {
        flex-wrap: wrap;
    }

    div.single-product {
        padding: 1em;
        display: block;
    }



    h3.h3-first::after {
        top: 35%;
    }

    div.left-side {
        display: block;
        margin: auto;
    }

    div.left-side img {
        max-width: 100%;
        margin: auto;

    }

    div.right-side {
        display: block;
        margin: 2em 7%;
    }

    div.other-product {
        padding: 0.2em;
    }

    article.working-hours-article {
        margin: 2em 3em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    .details-table table tr td.td-pre-build {
        padding-right: 2em;
    }

    figure .wp-block-table table {
        display: block;
        margin: auto;
    }

    tr td.td-prices {

        width: auto;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 5em;
    }

    img.profi-img {
        display: block;
        max-width: 80%;
        margin: 1em auto 3em auto;
    }


}

@media (min-width: 320px) and (max-width: 480px) {
    article.working-hours-article {
        margin: 2em 2em;
    }

    div.other-product {
        padding: 0.2em;
    }

    div#other-products {
        flex-wrap: wrap;
    }

    .details-table table tr td.td-pre-build {
        padding-right: 0.3em;
    }

    div.left-side {
        width: 100%;
    }

    div.single-product {
        padding: 0.5em;
        display: block;
    }

    h3.h3-first::after {
        top: 35%;
    }

    div.left-side {
        display: block;
        margin: auto;
    }

    div.left-side img {
        max-width: 100%;
        margin: auto;

    }

    a.big-btn {
        max-width: 55%;
    }

    div.div-h3-span-price {
        display: block;
        text-align: center;
    }

    h3.h3-first::after {
        top: 60%;
    }

    h3.h3-price-single {
        max-width: 7em;
        text-align: center;
        margin: auto;
    }

    div.right-side {
        display: block;
        margin: 2em 3%;
    }

    section.details-table table {
        padding: 0.5em;
    }

    section.details-table table tr td {
        padding-right: 0.3em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 4em;
    }

    img.profi-img {
        display: block;
        max-width: 90%;
        margin: 1em auto 3em auto;
    }
}

@media (max-width: 320px) {
    article.working-hours-article {
        margin: 2em 1.5em;
    }

    div.left-side {
        width: 100%;
    }

    div.single-product {
        padding: 0.5em;
        display: block;
    }

    div#other-products {
        display: block;
        margin: auto;
    }

    a.big-btn {
        max-width: 70%;
    }

    h3.h3-first::after {
        top: 35%;
    }

    div.left-side {
        display: block;
        margin: auto;
    }

    div.left-side img {
        max-width: 100%;
        margin: auto;

    }

    div.div-h3-span-price {
        display: block;
        text-align: center;
    }

    h3.h3-first::after {
        top: 60%;
    }

    h3.h3-price-single {
        max-width: 7em;
        text-align: center;
        margin: auto;
    }

    div.right-side {
        display: block;
        margin: 2em 3%;
    }

    section.details-table table tr td.td-pre-build {
        padding-right: 0.2em;
    }



    section.details-table table tr td {
        padding-right: 0.2em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 3em;
    }

    img.profi-img {
        display: block;
        max-width: 90%;
        margin: 1em auto 3em auto;


    }
}