@media (min-width: 2030px) {
    .working-hours-article {
        margin: 2em 15em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.5em;

    }

    figure.wp-block-table {
        max-width: 1500px;
        margin: auto;

    }
}

@media (min-width: 1870px) and (max-width: 2030px) {
    .working-hours-article {
        margin: 2em 15em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.3em;
    }

    figure.wp-block-table {
        max-width: 1400px;
        margin: auto;

    }
}

@media (min-width: 1700px) and (max-width: 1870px) {
    .working-hours-article {
        margin: 2em 15em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.2em;
    }

    figure.wp-block-table {
        max-width: 1300px;
        margin: auto;

    }
}

@media (min-width: 1520px) and (max-width: 1700px) {
    .working-hours-article {
        margin: 2em 15em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.1em;

    }

    figure.wp-block-table {
        max-width: 1200px;
        margin: auto;

    }
}



@media (min-width: 1360px) and (max-width: 1520px) {
    article.working-hours-article {
        margin: 2em 15em;
    }

    .wp-block-table table tbody tr td.td-numbers {
        width: 3em;

    }

    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
        font-size: 1.05em;


    }

    figure.wp-block-table {
        max-width: 1100px;
        margin: auto;

    }
}



@media (min-width: 1200px) and (max-width: 1360px) {
    article.working-hours-article {
        margin: 2em 13em;
    }

    .wp-block-table table tbody tr td.td-numbers {
        width: 3em;

    }

    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }

}



@media (min-width: 1070px) and (max-width: 1200px) {
    article.working-hours-article {
        margin: 2em 11em;
    }

    .wp-block-table table tbody tr td.td-numbers {
        width: 3em;

    }

    td.td-prices {

        width: 6em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }
}

@media (min-width: 900px) and (max-width: 1070px) {
    article.working-hours-article {
        margin: 2em 9em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }
}

@media (min-width: 630px) and (max-width: 900px) {
    article.working-hours-article {
        margin: 2em 7em;
    }

    .wp-block-table table tbody tr td.td-numbers {
        width: 2em;

    }

    td.td-prices {

        width: 5em;
    }

    .wp-block-table table {
        display: block;
        margin: auto;
    }

    img.profi-img {
        display: block;
        max-width: 80%;
        margin: 1em auto 3em auto;
    }
}

@media (min-width: 480px) and (max-width: 630px) {
    article.working-hours-article {
        margin: 2em 5em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    figure .wp-block-table table tbody tr td.td-numbers {
        width: auto;

    }

    figure .wp-block-table table {
        display: block;
        margin: auto;
    }

    tr td.td-prices {

        width: auto;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 5em;
    }

    img.profi-img {
        display: block;
        max-width: 80%;
        margin: 1em auto 3em auto;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    article.working-hours-article {
        margin: 2em 3em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 4em;
    }

    img.profi-img {
        display: block;
        max-width: 90%;
        margin: 1em auto 3em auto;
    }
}

@media (max-width: 320px) {
    article.working-hours-article {
        margin: 2em 2em;
    }

    div.entry-content {
        padding: 1.5em;
    }

    tr td.usl-prices {
        word-wrap: break-word;
        max-width: 3em;
    }

    img.profi-img {
        display: block;
        max-width: 90%;
        margin: 1em auto 3em auto;


    }
}