.display-none {
    display: none;
}

.more-products {
    border-radius: 0.5em;
    display: block;
    text-align: center;
    padding: 1em;
    background-color: #17c417;
    border-color: #17c417;
    color: white;
    margin: auto;
    font-weight: 600;
}

.more-products:hover {
    color: white;
    border: 2px, solid #044a0c;
    background-color: #044a0c;
}

.pagination-container button {
    margin: 3px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.5em;
}

.pagination-container button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pagination-container button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#pagination-controls {
    text-align: center;
}


.normal-price {
    text-align: center;
    color: #227ae5;
}

.discount {
    background-color: rgba(255, 27, 27, 0.906);
}

.call-us-icon {
    height: 1em;
}

.call-us {
    max-width: 30%;
    display: block;
    margin: 0.5em auto;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    background-color: #17c417;
    border: 2px, solid #17c417;

    border-radius: 0.5em;

    padding: 0.2em;
}

.call-us:hover {
    color: white;
    /* border: 2px, solid #227ae5;
    background-color: #227ae5; */
    border: 2px, solid #044a0c;
    background-color: #044a0c;


}

.border-top small {
    color: black;
}

.label-link {
    color: black;
}

.label-link:hover {
    color: #227ae5;
}

.product-list .container-xxl {
    padding: 0;
}

.container-xxl .container-products {
    padding: 1.1em;
}

.div-price {
    padding: 1em;
}

.header-text {
    display: block;
    margin: auto;
    color: #227ae5;
    text-align: center;
    margin-bottom: 2em;
}

.div-price h5.first-price {
    position: relative;
    display: inline-block;
    color: black;
}

.div-price h5.second-price {
    display: inline-block;
    color: red;
    margin-left: 1em;
}

.div-price h5.first-price::after {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    /* Adjust for exact positioning */
    height: 1.5px;
    /* Thickness of the line */
    background: red;
    /* Color of the line */
    transform: translateY(-50%);
    /* Center the line vertically */

}

.div-price a {
    color: black;
    font-weight: 600;
}

.div-price p {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: black;
}

.ac-products {
    margin-bottom: 2em;
    padding: 1em;
}

.h1-promo {
    margin-bottom: 2em;
    display: block;
    text-align: center;

}

.char-h4 {
    text-align: center;
}

.img-ac-products {
    background-color: white;

}

.img-icon {
    height: 2em;
    padding-right: 1em;
}


@media (min-width: 1841px) {
    .container-xxl .container-products {
        padding: 7em;
    }

    .div-price h5.first-price {
        font-size: 1.2em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 1.3em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1.4em;
    }

    .ac-products {
        display: block;
        max-width: 375px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (min-width: 1640px) and (max-width: 1840px) {
    .container-xxl .container-products {
        padding: 5em;
    }

    .div-price h5.first-price {
        font-size: 1em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 1.1em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1.2em;
    }

    .ac-products {
        display: block;
        max-width: 375px;
        margin: auto;
        margin-bottom: 2em;

    }
}




@media (min-width: 1400px) and (max-width: 1639px) {
    .container-xxl .container-products {
        padding: 4em;
    }

    .div-price h5.first-price {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 1em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1.1em;
    }

    .ac-products {
        display: block;
        max-width: 360px;
        margin: auto;
        margin-bottom: 2em;

    }
}


@media (min-width: 1201px) and (max-width: 1400px) {
    .container-xxl .container-products {
        padding: 2em;
    }

    .div-price h6 {
        font-size: 1em;
    }

    .div-price h5.first-price {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 1em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1.1em;
    }

    .ac-products {
        display: block;
        max-width: 350px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (min-width: 999px) and (max-width: 1200px) {
    .container-xxl .container-products {
        padding: 2em;
    }

    .discount {
        font-size: 0.9em;
    }

    .div-price h6 {
        font-size: 0.8em;
    }

    .div-price h5.first-price {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1em;
    }

    .ac-products {
        display: block;
        max-width: 320px;
        margin: auto;
        margin-bottom: 2em;

    }

    .call-us {
        max-width: 40%;
    }
}


@media (min-width:801px) and (max-width: 998px) {
    .call-us {
        max-width: 40%;
    }

    .discount {
        font-size: 0.8em;
    }

    .div-price h5.first-price {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1em;
    }

    .ac-products {
        display: block;
        max-width: 280px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (min-width: 631px) and (max-width: 800px) {
    .call-us {
        max-width: 40%;
    }

    .discount {
        font-size: 0.75em;
    }

    .div-price h5.first-price {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 1em;
    }

    .ac-products {
        display: block;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (min-width: 518px) and (max-width: 630px) {
    .call-us {
        max-width: 45%;
    }

    .discount {
        font-size: 0.7em;
    }

    .div-price h5.first-price {
        font-size: 0.7em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 0.9em;
    }

    .container-xxl .container-products {
        padding: 1.3em;
    }

    .border-top small {
        font-size: 0.8em;
    }

    .div-price {
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .div-price h5 {
        font-size: 1em;
        margin-bottom: 0.2em;
    }

    .div-price a {
        font-size: 0.9em;
    }

    .ac-products {
        max-width: 220px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (min-width: 453px) and (max-width: 518px) {
    .container-xxl .container-products {
        padding: 1.2em;
    }

    .discount {
        font-size: 0.65em;
    }

    .call-us {
        max-width: 45%;
    }

    .call-us-icon {
        height: 1em;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5.first-price {
        font-size: 0.7em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 0.9em;
    }

    .div-price a {
        font-size: 0.8em;
    }

    .ac-products {
        max-width: 220px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (min-width: 361px) and (max-width: 452px) {
    .product-list .container-xxl {
        padding: 0.5em;
    }

    .pagination-container button {
        margin: 2px;
        padding: 2px 4px;
        cursor: pointer;
        border-radius: 0.5em;
    }

    #pagination-controls {
        text-align: center;
        font-size: 0.7em;
    }

    .discount {
        font-size: 0.6em;
    }

    .call-us-icon {
        height: 1.7em;
    }

    .div-price h5.first-price {
        font-size: 0.6em;
        margin-bottom: 0.15em;
    }

    .div-price h5.second-price {
        font-size: 0.7em;
        margin-bottom: 0.15em;
    }

    .normal-price {
        font-size: 0.8em;
    }

    .call-us {
        max-width: 50%;
    }

    .border-top small {
        font-size: 0.6em;
        font-weight: 500;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.7em;
    }

    .ac-products {
        max-width: 170px;
        margin: auto;
        padding: 0;
        margin-bottom: 2em;

    }


}

@media (max-width: 360px) {
    #pagination-controls {
        text-align: center;
        font-size: 0.7em;
    }

    .pagination-container button {
        margin: 2px;
        padding: 2px 4px;
        cursor: pointer;
        border-radius: 0.5em;
    }

    .div-price p {
        margin-bottom: 0;
        margin-top: 0.5em;
        font-size: 0.7em;
        color: black;
    }

    .discount {
        font-size: 0.7em;
    }

    .call-us {
        max-width: 40%;
    }

    .call-us-icon {
        height: 1.6em;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.7em;
    }

    .ac-products {
        max-width: 250px;
        margin: auto;
        margin-bottom: 2em;

    }


}