/* navbar ends here  */
/* .tab-content {
    display: flex;
    margin: 7em auto;
} */

/* .tab-content div {

    margin: 2em auto;
}

.ac-products-div {
    display: block;
} */
.border-top small {
    color: black;
}

.label-link {
    color: black;
}

.label-link:hover {
    color: #227ae5;
}

.product-list .container-xxl {
    padding: 0;
}

.container-xxl .container-products {
    padding: 1.1em;
}

.div-price {
    padding: 2em;
}

.header-text {
    display: block;
    margin: auto;
    color: #227ae5;
    text-align: center;
    margin-bottom: 2em;
}

.div-price h5 {
    color: #227ae5;
}

.div-price a {
    color: black;
    font-weight: 600;
}

.div-price p {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: black;
}

.ac-products {
    margin-bottom: 2em;
    padding: 1em;
}

.h1-promo {
    display: block;
    text-align: center;
    margin-bottom: 3em;

}

.img-ac-products {
    background-color: white;

}

.img-icon {
    height: 2em;
    padding-right: 1em;
}


@media (min-width: 1841px) {
    .container-xxl .container-products {
        padding: 15em;
    }

    .ac-products {
        display: block;
        max-width: 550px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 1640px) {
    .container-xxl .container-products {
        padding: 10em;
    }

    .ac-products {
        display: block;
        max-width: 400px;
        margin: auto;
        margin-bottom: 2em;

    }
}




@media (min-width: 1400px) {
    .container-xxl .container-products {
        padding: 5em;
    }

    .ac-products {
        display: block;
        max-width: 350px;
        margin: auto;
        margin-bottom: 2em;

    }
}


@media (max-width: 1400px) {
    .container-xxl .container-products {
        padding: 2em;
    }

    .ac-products {
        display: block;
        max-width: 350px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 1200px) {
    .container-xxl .container-products {
        padding: 2em;
    }

    .ac-products {
        display: block;
        max-width: 320px;
        margin: auto;
        margin-bottom: 2em;

    }
}


@media (max-width: 998px) {

    .ac-products {
        display: block;
        max-width: 280px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 898px) {

    .ac-products {
        display: block;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 630px) {
    .container-xxl .container-products {
        padding: 1.3em;
    }

    .border-top small {
        font-size: 0.8em;
    }

    .div-price {
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .div-price h5 {
        font-size: 1em;
        margin-bottom: 0.2em;
    }

    .div-price a {
        font-size: 0.9em;
    }

    .ac-products {
        max-width: 220px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (max-width: 518px) {
    .container-xxl .container-products {
        padding: 1.2em;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.8em;
    }

    .ac-products {
        max-width: 220px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (max-width: 452px) {
    .product-list .container-xxl {
        padding: 0.5em;
    }

    .border-top small {
        font-size: 0.6em;
        font-weight: 500;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.7em;
    }

    .ac-products {
        max-width: 170px;
        margin: auto;
        padding: 0;
        margin-bottom: 2em;

    }


}

@media (max-width: 360px) {
    .div-price p {
        margin-bottom: 0;
        margin-top: 0.5em;
        font-size: 0.7em;
        color: black;
    }

    .div-price {
        padding-top: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.7em;
    }

    .ac-products {
        max-width: 250px;
        margin: auto;
        margin-bottom: 2em;

    }


}