/* navbar ends here  */
/* .tab-content {
    display: flex;
    margin: 7em auto;
} */

/* .tab-content div {

    margin: 2em auto;
}

.ac-products-div {
    display: block;
} */

.ac-products {
    margin-bottom: 2em;
}

.h1-promo {
    display: block;
    text-align: center;
    margin-bottom: 3em;

}

.img-ac-products {
    background-color: white;

}

.img-icon {
    height: 2em;
    padding-right: 1em;
}


@media (min-width: 1841px) {
    .ac-products {
        display: block;
        max-width: 550px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 1640px) {
    .ac-products {
        display: block;
        max-width: 400px;
        margin: auto;
        margin-bottom: 2em;

    }
}




@media (min-width: 1400px) {
    .ac-products {
        display: block;
        max-width: 350px;
        margin: auto;
        margin-bottom: 2em;

    }
}


@media (max-width: 1400px) {

    .ac-products {
        display: block;
        max-width: 275px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 1200px) {

    .ac-products {
        display: block;
        max-width: 250px;
        margin: auto;
        margin-bottom: 2em;

    }
}


@media (max-width: 998px) {

    .ac-products {
        display: block;
        max-width: 250px;
        margin: auto;
        margin-bottom: 2em;

    }
}

@media (max-width: 630px) {
    .div-price {
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .div-price h5 {
        font-size: 1em;
        margin-bottom: 0.2em;
    }

    .div-price a {
        font-size: 0.9em;
    }

    .ac-products {
        max-width: 220px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (max-width: 510px) {
    .div-price {
        padding-top: 0.3em;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .div-price h5 {
        font-size: 0.9em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.8em;
    }

    .ac-products {
        max-width: 190px;
        margin: auto;
        margin-bottom: 2em;

    }


}

@media (max-width: 352px) {
    .div-price {
        padding-top: 0.3em;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .div-price h5 {
        font-size: 0.8em;
        margin-bottom: 0.15em;
    }

    .div-price a {
        font-size: 0.7em;
    }

    .ac-products {
        max-width: 150px;
        margin: auto;
        margin-bottom: 2em;

    }


}